In [20]:
from create_database import MyDB
import create_database
import sql_queries as SQ
from datetime import datetime
import sqlite3
import os

from importlib import reload
reload(create_database);
reload(SQ);

In [23]:
data = MyDB(bills_drop=True, any_drop=True, add_data=True, table_type='bills', input_lim=200, chunk_size=500)

tables built!

IntegrityError: NOT NULL constraint failed: tBills.content

In [22]:
data.get_tBills()

Empty DataFrame
Columns: [bill_id, bill_number, title, description, state, session, filename, status, status_date, error, content, processed_at, url]
Index: []